code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-content{
  height: 12rem;
}

.card-content-type{
  font-weight: bold;
  font-size: 1.7rem;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border-color: red;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label{
  color: red !important;
}

body {
  background: #f3f3f3;
  color: #888;
  font-family: 'Roboto', sans-serif;
}

.post.card.card-content {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  padding: 15px 0 15px 0;
  height: auto;
}

span.card-content-type {
  text-transform: capitalize;
  color: #545454;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

nav.nav-wrapper.red.darken-3 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px 0px;
  background: #ed2241 !important;
  position: fixed;
  z-index: 9999999;
}

span.card-title {
  font-family: 'Roboto', sans-serif;
  /* text-align: left; */
  font-size: 23px !important;
  line-height: inherit  !important;
}

a.btn.red.darken-2.card-button.z-depth-2 {
  margin-top: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #ed2241 !important;
}

.input-field>label {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  color: #545454;
  top: 0;
}

li.brand-logo.left {
  text-align: left;
  width: 100%;
  left: 0;
  font-size: 17px;
  margin-left: 10px;
}

nav.nav-wrapper.red.darken-3 .container {
  padding: 0;
}

@media (max-width: 360px){
  .row .col.l3.m6.s12{
    padding: 0 2.75rem;
  }
} 
@media (min-width: 361px) and (max-width:600px){
  .row .col.l3.m6.s12{
    padding: 0 4.75rem;
  }
}

.card .card-content {
  padding: 0 12px;
}

input#Search {
  font-size: 22px;
  margin-top: 5px;
}

i.material-icons.dp48 {
  vertical-align: middle;
}

label i.material-icons.dp48 {
  vertical-align: middle;
  margin-bottom: 5px;
}

.input-field {
  margin-top: 45px;
}

.btn-upward{
  background-color: #ed2241 !important;
  position        : fixed;
  right           : 10px;
  bottom          : 10px;
}